/* Error: Undefined variable.
 *   ,
 * 1 | $level-item-spacing: ($block-spacing / 2) !default
 *   |                       ^^^^^^^^^^^^^^
 *   '
 *   themes/serenity/css/sass/components/level.sass 1:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  $level-item-spacing: ($block-spacing / 2) !default\a   \2502                        ^^^^^^^^^^^^^^\a   \2575 \a   themes/serenity/css/sass/components/level.sass 1:23  root stylesheet";
}
